/*Added smooth scroll behaviour to improve user browsing experience*/
html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
}

/* Added padding to these sections to allow navbar link to navigate to the beginning of each one */


#contact {
    padding-top: 10vh;
}

.row {
    margin: 0 0;
}

/* -------------- NAVBAR SECTION ----------------- */
/* Logo sze was adjusted to stop Nav button from moving underneath it on small screens thus always staying on the right */
.logo {
    width: 125px;
}

@media (min-width: 768px) {
    .logo {
        width: 230px;
    }
}

/* Added some padding to Nav links for breathing space on small screens */
.nav-item {
    text-transform: uppercase;
    padding-left: 10px;
    border-bottom: 1px solid gray;
}

@media (min-width: 992px) {
    .nav-item {
        padding: 10px 10px;
        border-bottom: none;
    }
}

/* Added colors and border radius (on big screens) to make nav buttons nicer looking when hovered over */
@media (min-width: 992px) {
    .nav-item:hover {
        border-radius: 20%;
    }
}

.nav-item-cold:hover {
    background-color: #369;
}

.nav-item-hot:hover {
    background-color: #e53c37;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #fff;
}

/*Added and styled social buttons to navbar */
.navbar-nav .nav-social-cold:hover .social {
    color: #369;
}

.navbar-nav .nav-social-hot:hover .social {
    color: #e53c37;
}

/* -------------- HOME SECTION -------------- */

/* Added parallax to beautify home page */
#home {
    background: url("../images/peter.jpg") no-repeat center center fixed;
    position: relative;
    min-height: 100vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* Added jumbotron to enhance main message on home page */
.jumbotron {
    background-color: transparent;
    text-align: center;
}

.head-word {
    padding-top: 50px;
    text-align: center;
    color: #fff;
}

@media (min-width: 768px) {
    .head-word {
       font-size: 4rem;
       padding: 50px 25px;
       }
   }
/* Added media to allow the header to be smaller on phones and bigger on tablets and desktops */
.badge-primary {
    display: inline;
    font-size: 2rem;
    background-color: #e53c37;
    color: #fff;
}
.blue-btn {
    padding: 15px;
}

.blue-btn-link {
    display: inherit;
    font-size: 1.5rem;
}

/* Added badge class to emphasize the paragraph and make it more visible */

/* -------------- SERVICES SECTION --------------*/
/* Styled header and styled paragraph to change its properties and to differ in this section */
.section-header {
    color: #369;
    text-align: center;
    padding: 25px;
}

.services-column {
    padding-top: 25px;
    padding-bottom: 25px;
}
/* Aligned headers of the services offered to the centre of each column */
.gas-services-header {
    text-align: left;
}

/* Increased size of icons from Fontawesome so make them stand out and adding some breathing space */
.services-icon {
    margin: 10px;
    font-size: 2.5rem;
}

/* Changed bulletpont to square and pull it inside to the centred list */
.services-list {
    list-style: none;
    padding-left: 15px;
}

/* Made a list stand out and aligned to the centre of the column */
.services-list-item {
    color: #000;
    font-weight: 500;
    padding: 3px;
    text-align: left;
}

/* Added buttons to allow user to jump straight to contact section or carry on browsing */

.red-btn {
    padding: 15px;
}

.red-btn-link {
    display: inherit;
    font-size: 1.5rem;
    background-color: #e53c37;
}

/* -------------- ABOUT SECTION -------------- */
/* Added parallax to beautify the page */
#about {
    background: url("../images/tap1.jpg") no-repeat center right fixed;
    background-repeat: no-repeat;
    position: relative;
    min-height: 80vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* Styled the header to add some color and breathng space 
and styled paragraph to change its properties to differ in ths section*/
.intro-word {
    color: #fff;
}


/* -------------- FAQ SECTION -------------- */
/* Styled header and styled paragraph to change its properties */
#faq .row .section-header h1 {
    color: #369;
    text-align: center;
    padding-top: 25px;
}

#faq .row .section-header p {
    color: #000;
    padding: 0;
    text-align: center;
    margin: 40px 20px;
}

/*Media added to enhance ux on bigger screens*/
@media (min-width: 992px) {
    #faq .row .section-header p {
        margin: 20px 80px;
    }
}

/* Styled cards look */
.card-header,
.card-footer {
    background-color: #fff;
    color: #369;
    font-weight: 600;
    padding: 3px 8px;
    text-align: center;
}

.card-body {
    padding-bottom: 5px;
}

.card {
    margin-top: 20px;
    min-height: 300px;
}

/*Media to amend difference in heights for Tablets such as iPod */
@media (min-width: 768px) {
    .card {
        min-height: 533px;
    }
}

/*Media to amend difference in heights for bigger Tablets such as iPod Pro */
@media (min-width: 992px) {
    .card {
        min-height: 388px;
    }
}

/*Media to amend difference in heights for desktops */
@media (min-width: 1280px) {
    .card {
        min-height: 315px;
    }
}


/* CONTACT SECTION */
/* Added background picture and parallax to beautify the page */
#contact {
    background: url("../images/contact.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    position: relative;
    min-height: 60vh;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* Widened the width of a row to 100% to enhance ux*/
#contact .row {
    width: 100%;
}
/*Removed padding and margind to widen both columns on the page */

#contact .row .col-12 h1 {
    color: #e53c37;
    text-align: center;
    padding-bottom: 15px;
}

/* Contact details */
/*Styled these classes to display nicely and in  two separate "blocks"*/
.item {
    clear: both;
    padding: 15px;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.key,
.value {
    display: inline-block;
}

.key {
    width: 30%;
    text-align: left;
    vertical-align: top;
}

.value {
    width: 60%;
    text-align: left;
    vertical-align: top;
}

.key h6 {
    text-transform: uppercase;
}

.value h6 a {
    color: #000;
}

/* Media added to enhance visability of contact details on tablets such us iPad, iPad Pro & */
@media (min-width: 768px) and (max-width: 1280px) {
    .value h6 {
        display: inline;
        font-size: 150%;
    }
}

/*Contact Form */
.form-column {
    padding-top: 10px;
    text-align: center;
}

.center-form {
    padding-top: 10px;
    margin: 10px auto;
    max-width: 80%;
}

.form-control {
    margin-top: 4px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fff;
}
/*Media added to enhance ux on bigger screens*/
@media (min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 80%;
    }
}

/* FOOTER SECTION */
/*General styling to the footer - some top breathing space, colors etc.*/
footer {
    padding-top: 20px;
    background-color: #e0e0e0;
}

footer .row .col-12.col-md-4 {
    margin: 0 0;
    -ms-flex-line-pack: center;
    align-content: center;
    background-color: #e0e0e0;
}

footer .row .col-12 p {
    text-align: center;
    font-size: smaller;
}

/*Added social media links that change look when hovered over*/
footer .social-media {
    list-style-type: none;
    text-align: center;
    padding: 0 0;
}

footer .social-media .social-media-link {
    display: inline;
    margin: auto auto;
    padding-right: 7px;
    padding-left: 7px;
}

footer .social-media .social-media-link a i {
    width: 30px;
    height: 30px;
    border-radius: 25%;
    text-align: center;
    padding: 12px 0;
    color: #fff;
    background-color: #000;
    vertical-align: middle;
    font-size: 13px;
    line-height: 7px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

footer .social-media .social-media-link a i.fa-google-plus-g:hover {
    color: #e53c37;
    background-color: transparent;
    font-size: 200%;
    padding-top: 15px;
}

footer .social-media .social-media-link a i.fa-facebook-square:hover {
    color: #369;
    background-color: #fff;
    font-size: 200%;
    padding-top: 15px;
}

footer .social-media .social-media-link a i.fa-phone:hover,
footer .social-media .social-media-link a i.fa-envelope:hover {
    font-size: 200%;
    padding-top: 15px;
    color: #000;
    background-color: transparent;
}